.section1 {
    min-height: calc(100vh - #{$height-header});
    display: flex;
    justify-content: space-between;
    align-items: center;

    .content {
        display: flex;
        flex-direction: column;
        // justify-content: space-around;
        width: 608px;

        h1 {
            font-size: 50pt;
        }

        p {
            margin-bottom: 50px;
        }

        input {
            width: 200px;
            height: 50px;
            border-radius: 50px;
            border: none;
            background-color: $color-light-blue;
            color: white;
            font-size: 20px;
            transition: all .3s ease-in-out;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            &:hover{
                background-color: $color-blue;
                transition: all .3s ease-in-out;
                cursor: pointer;
            }
        }
    }

    .image {
        width: 50%;
        margin-left: 20px;
        border-radius: 500px;

        img {
            width: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }
}


@media screen and (max-width: 768px) {
    .section1 {
        flex-direction: column;
        height: 100vh;

        .content {
            width: 100%;

            h1 {
                font-size: 28pt;
            }
        }

        .image {
            margin-top: 20px;
            width: 80%;
        }
    }   
}