// Fonts
$font-body: 'Work Sans', sans-serif;
$font-title: 'Didact Gothic', sans-serif;

// Colors
$color-body: #949494;
$color-title: #000000;
$color-light-blue: #187ac9;
$color-blue: #273a7c;

$wrapper-padding: 0 100px;
$height-header: 80px;
