@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
body {
  font-family: "Work Sans", sans-serif;
}

p {
  color: #949494;
}

h1, h2, h3, h4 {
  font-family: "Didact Gothic", sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 100px;
  height: 10vh;
}

header .logo {
  height: 80px;
}

header .logo img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .navbar {
  width: 500px;
}

header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navbar ul li {
  list-style-type: none;
}

header .navbar ul li a {
  text-decoration: none;
  color: #000000;
  -webkit-transition: .2s;
  transition: .2s;
}

header .navbar ul li a:hover {
  color: #187ac9;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@media screen and (max-width: 768px) {
  header {
    padding: 10px 10px;
  }
}

footer {
  background-color: #273a7c;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 200px;
}

footer .text {
  width: 600px;
}

footer .text * {
  color: white;
}

footer form input, footer form button {
  float: left;
  border: none;
  outline: none;
  height: 50px;
  padding: 0;
  margin: 0;
}

footer form input {
  background-color: white;
  padding-left: 20px;
  width: 250px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

footer form button {
  background-color: #187ac9;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  width: 100px;
  color: white;
}

@media screen and (max-width: 768px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 10%;
    height: auto;
  }
  footer .text {
    height: auto;
    width: auto;
  }
  footer form {
    width: auto;
  }
  footer form input {
    width: 53%;
  }
}

.section1 {
  min-height: calc(100vh - 10vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 608px;
}

.section1 .content h1 {
  font-size: 50pt;
}

.section1 .content p {
  margin-bottom: 50px;
}

.section1 .content input {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: #187ac9;
  color: white;
  font-size: 20px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.section1 .content input:hover {
  background-color: #273a7c;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.section1 .image {
  width: 50%;
  margin-left: 20px;
  border-radius: 500px;
}

.section1 .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .section1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }
  .section1 .content {
    width: 100%;
  }
  .section1 .content h1 {
    font-size: 28pt;
  }
  .section1 .image {
    margin-top: 20px;
    width: 80%;
  }
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 100px;
}

.section2 .content {
  width: 800px;
}

.section2 .content h1 {
  font-size: 35pt;
}

.section2 .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 50px;
  width: 100%;
}

.section2 .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section2 .cards .card .image {
  width: 150px;
  height: 150px;
}

.section2 .cards .card .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section2 .cards .card .text {
  width: 300px;
}

@media screen and (max-width: 768px) {
  .section2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .section2 .content {
    width: 100%;
  }
  .section2 .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section2 .cards .card {
    margin: 20px 0;
  }
}

.section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.section3 .image {
  width: 50%;
  margin-right: 20px;
}

.section3 .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section3 .text {
  width: 600px;
  height: 470px;
}

.section3 .text h1 {
  font-size: 35pt;
}

.section3 .text button {
  margin-top: 50px;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: #187ac9;
  color: white;
  font-size: 20px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.section3 .text button:hover {
  background-color: #273a7c;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .section3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .section3 .image {
    display: none;
  }
  .section3 .text {
    width: 100%;
    height: 20%;
  }
}

section {
  padding: 0 100px;
}

@media screen and (max-width: 768px) {
  section {
    margin: 20px 0;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  scroll-behavior: smooth;
}
/*# sourceMappingURL=app.css.map */